*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


.container{
    max-width: 80%;
    background-color: aquamarine;
    padding: 34px;
    margin: auto;
}

h1{
    font-size: 37px;
    font-family: 'Acme', sans-serif;
}

input, textarea{
    display: block;
    border: 2px solid;
    width: 80%;
    margin: 11px 0px;
    padding: 8px;
    border-radius: 14px;
    font-size: 20px;
    outline: none;
    
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 21px 58px;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
}

